AIP_EXECUTION_MODE=CONFIGURED
AIP_ENVIRONMENT=development
AIP_DEMO_MODE_ENABLED=false
AIP_SQLSERVER_ENABLED=false
AIP_SQLSERVER_SERVER=
AIP_SQLSERVER_DATABASE=
AIP_SQLSERVER_AUTH_MODE=windows
AIP_SQLSERVER_VIEW=VISTA_1514_1515_1516
AIP_SQLSERVER_SCENARIOS=Reales,Presupuesto 2026%
AIP_SQLSERVER_CONNECTION_TIMEOUT=30
AIP_SQLSERVER_COMMAND_TIMEOUT=30
AIP_SQLSERVER_RETRIES=3
AIP_FOLDERWATCH_ENABLED=false
AIP_PORTFOLIO_ROOT=
AIP_PORTFOLIO_MASTER_PATTERN=Inversiones\\{year}\\maestro\\{month}\\*.xls*
AIP_PORTFOLIO_SUPPORTED_EXTENSIONS=.xls,.xlsx
AIP_PORTFOLIO_RECURSIVE=true
AIP_PORTFOLIO_STALE_HOURS=24
AIP_ICL_ROOT=
AIP_ICL_FILE_PATTERN=ICL\\Reportes ICL\\*
AIP_ICL_SUPPORTED_EXTENSIONS=.xls,.xlsx
AIP_ICL_STALE_HOURS=24
AIP_CURVES_ENABLED=false
AIP_CURVES_WORKBOOK=
AIP_CURVES_SHEET_MAPPING=Gobierno CRC,Gobierno USD,BCCR CRC
AIP_CURVES_STALE_HOURS=24
AIP_VECTOR_ENABLED=false
AIP_VECTOR_PATH=
AIP_VECTOR_FILE_PATTERN=
AIP_VECTOR_STALE_HOURS=24
AIP_BCCR_ENABLED=false
AIP_BCCR_BASE_URL=
AIP_BCCR_TIMEOUT_SECONDS=30
AIP_BCCR_RETRIES=3
AIP_BCCR_CACHE_ENABLED=true
AIP_BCCR_SERIES_CONFIG=FX
AIP_INSTITUTIONAL_DATA_ROOT=
AIP_SCHEDULER_ENABLED=true
AIP_NOTIFICATIONS_ENABLED=true
AIP_STARTUP_TIMEOUT_SECONDS=30
AIP_REFRESH_TIMEOUT_SECONDS=30
AIP_DEFAULT_THEME=light
AIP_DEFAULT_WORKSPACE=executive
AIP_DATA_CUTOFF_DATE=2026-07-29
AIP_OBSERVABILITY_LEVEL=INFO
